* {
    box-sizing: border-box;

}
.container-fluid{
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.make-center{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.row {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100px; 
}
.logo{
    width: auto;
    height: 100%;
    margin-left: 80px;
}
.form-column1{
    float: left;
    width: 50%;
    padding: 10px;
    margin: 0px auto;

    
}
.header-nav a{
    padding: 28px 20px;
    text-decoration: none;
    font-family: sans-serif;
    color: grey;
    font-size: 16px;
    
}
.header-nav{
    margin-right: 0px;
}
.button{
    border-radius: 4px;
    text-align: center;
    color: white;
    background-color: #46D3C6;
    padding: 10px;
    border: none;
    font-size: 16px;
}
.main-heading{

    color:#506064;
    font-family: sans-serif;
    font-size: 40px;


}
.main-img{
    margin: 0px auto;
}


.text-title{
    color: #8CECE2;
    font-size: 19px;

}
.main-text{
    font-size: 17px;
    margin-left: 52px;

}
.sign-up{
    background-color: #6ed8ca;
    width: 100%;
    padding: 40px;
    color: white;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 20px; 
    padding-left: 35px;
    padding-top: 25px;
    border-radius: 4px;
    font-family: sans-serif;


}
.input-label{
 color: #6ed8ca;
}

.input-box{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
}
label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 18px;
}
.form-field{
    margin-left: 11px;
    margin-top: 10px;
    border-radius: 4px;
}
.form-select{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}
.form-submit{
    border-radius: 4px;
    text-align: center;
    color: white;
    background-color: #6ed8ca;
    padding: 10px;
    width: 120px;
    border: none;
    font-size: 18px;
    margin-left: 10px;
}

.column1 input{
    border-radius: 2px;
}
.footer-image{
    width: 20%;
}

.footer {
    display: inline;
    padding: 10px 20px;
}
.footer a{
    text-decoration: none; 
    padding: 40px;
    font-size: 22px;
    color: #737476;
}

.error-message{
    color: red;
}
.footer span{
    color: #737476;
}
.table1{
      display: none;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    overflow-x: auto;
    margin: auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
.ng-invalid{
    border-color: red;
}

@media only screen and (max-width: 768px)   {
    /* body{
        background-color:lightgray;
    } */
    nav.column.header-nav {
        width: auto;
      
    }
    div.form-column1{
        width: auto;
        
    }
    div.table{
        width: auto;
    }
    
    header.main-img{
        justify-content: center;
        width: 100%;
        margin: 0px auto;
    }
    .image2{
        width: 100%;
        height: auto;
        
    }
    .form-submit{
        margin-top: 100px;
    }
    .footer-image{
        width: 100%;
        height: auto;
        padding: 30px;
    }
    .footer_span{
        font-size: 13px;
    }
}
@media only screen and (max-width: 600px)   {
    /* body{
        background-color: lightblue;
    } */
    .container-fluid{
        width: 200%;
    }
    header.row{
        width: 100%;
        margin: auto;
    }
    
    .header-nav {
        width: auto;
        margin: auto;
      
    }
    div.form-column1{
        width: auto;
        
    }
    div.table{
        width: auto;
        margin: auto;
    }
    
    header.main-img{
        justify-content: center;
        width: 100%;
        margin: 0px auto;
    }
    .main-image2{
        width: 120%;
        height: auto;
        
    }
    .main-heading{
        width: 100%;
        font-size: 30px;
        
    }
    main{
        width: 100%;
    }
    .form-submit{
        margin-top: 100px;
    }
    .footer-image{
        width: 100%;
        height: auto;
        padding: 30px;
    }
    .footer_span{
        font-size: 13px;
    }
}
